#main-board {
	position: fixed;
	top: 96px;
	left: 100px;
	height: 300px;
	width: 300px;
}

#blurb {
	position: fixed;
	top: 400px;
	font-size: 24px;
}

.board {
  position: fixed;
  height: 88px; width: 92px;
}

#s6 { top: 100px; left: 100px; }
#s1 { top: 200px; left: 100px; }
#s8 { top: 300px; left: 100px; }
#s7 { top: 100px; left: 200px; }
#s5 { top: 200px; left: 200px; }
#s3 { top: 300px; left: 200px; }
#s2 { top: 100px; left: 300px; }
#s9 { top: 200px; left: 300px; }
#s4 { top: 300px; left: 300px; }
