<!DOCTYPE html>
<html>
<head>
	<title>Tic Tac Toe</title>
	<link rel="stylesheet" type="text/css" href="/css/tictac.css" />
	<script type="text/javascript" src="/js/tictac.js"></script>
</head>
<body>
	<h1>Welcome to Tic Tac Toe</h1>
	<img src="/images/tic-tac-toe.gif" id="main-board" />
	<img src="/images/blank.jpg" class="board" id="s6">
	<img src="/images/blank.jpg" class="board" id="s1">
	<img src="/images/blank.jpg" class="board" id="s8">
	<img src="/images/blank.jpg" class="board" id="s7">
	<img src="/images/blank.jpg" class="board" id="s5">
	<img src="/images/blank.jpg" class="board" id="s3">
	<img src="/images/blank.jpg" class="board" id="s2">
	<img src="/images/blank.jpg" class="board" id="s9">
	<img src="/images/blank.jpg" class="board" id="s4">
	<p id="blurb">Click anywhere to move.</p>
</body>
</html>
